.experienciaStarbucksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.experienciaStarbucksTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17.5vh;
  width: 100vw;
  background-color: #1e3932;
}
.experienciaStarbucksTitle {
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 3.1rem;
}

.experienciaStarbucksSectionTitle{
    padding-top: 3rem;
    padding-bottom: 5.5rem;
    max-width: 50rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.875rem;
    letter-spacing: -0.16px;
    line-height: 2.5rem;
}