.navbarContainer {
    width: 100vw;
  display: grid;
  place-items: center;
  height: 5.6rem;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
}
.navbar {
  width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sandwichButton{
    display: none;
}
.navbarLeft,
.navbarRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  ul,
  img {
    margin: 0;
    padding: 0;
  }
  a:hover {
    opacity: 0.8;
    color: inherit;
  }
}

.navbarLeft {
  font-weight: bold;
  font-size: 0.87rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  line-height: 21px;
  justify-content: space-evenly;
  img {
    margin-right: 2rem;
    width: 60px;
    height: 50px;
  }
}
.navbarRight {
  margin-right: 1.4rem;
}

.menu {
  width: 23vw;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.localizarTienda {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.25px;
  p {
    padding: 0;
    margin: 0;
  }
}
